body{
    background-color:  #614B3A;
}


button{
    vertical-align:top;
    display:inline-block;
    color: #FF5E4D;
    text-transform:uppercase;
    width:150px;
    height:150px;
    margin-left:10px;
    margin-bottom:10px;
    font-size: 0.69em;
    font-family: Arial, sans-serif;
}

h1{
    border :1px dotted pink;
    text-align:  center;
    font-size :38px;
    color : #FF5E4D;
    text-shadow :10px;
    margin-left:10px;
    border-width:3px;
    border-style : dotted;
}

.cookie{
    border-radius:100%;
    border : 2px solid black;
  
    background-color: brown;
    color:white;
    
} 